<!-- <footer>
  <div class="content">
    TODO: Placeholder for now. Replace with links
    <span>suggestions / comments / feedback</span>
  </div>
</footer> -->

<footer>
  <h5>Like what you see?</h5>
  <a href="sms:body=Thought you might want to check out BiteClub, a curated list of the best places in San Francisco. joinbiteclub.com" class="tellafriend">Tell a friend</a>

  <h5>Questions? Comments? Suggestions?</h5>
  <a href="mailto:kassatly@gmail.com" class="contactus">Let us know</a>
</footer>

<style>
  .tellafriend, .contactus {
      color: black;
      background-color: white;
      border-radius: 5px;
      border: 1px solid black;
      font-size: 1em;
      letter-spacing: 1px;
      line-height: 30px;
      margin: 10px auto 30px;
      min-width: 200px;
      width: 200px;
      padding: 10px 10px 10px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      
      font-family: 'Special Elite', cursive;
      font-weight: normal !important;
      font-style: normal !important;
      display: block;

      transition: color 0.3s ease-out,
                  background-color 0.3s ease-out,
                  border-color 0.3s ease-out;
  }

  .tellafriend:hover, .tellafriend:active, .contactus:hover, .contactus:active {
      background-color: #808080;
      border-color: #808080;
      color: #fff;
      text-decoration: none;
      transition: color 0.2s ease-in,
                  background-color 0.2s ease-in,
                  border-color 0.2s ease-in;
  }

</style>