<footer>
  <div class="grid">
    <div class="half">
      <p class="heading">Like what you see?</p>
      <p class="sub-heading">Like us on Facebook to stay updated.</p>
      <%= content_tag(:div, nil, class: 'fb-like', data: { href: "http://#{request.host}.com", width: '50px', layout: 'button', action: 'like', 'show-faces': true }) %>
    </div>
    <div class="half">
      <p class="heading">Questions or Comments?</p>
      <a href="mailto:kassatly@gmail.com?subject=BiteClub%20-%20Questions%20and%20comments" class="button-footer">Let us know</a>
    </div>
  </div>
</footer>