<footer>
  <div class="grid">
    <div class="half">
      <p class="header">Like what you see?</p>
      <% if browser.device.mobile? %>
        <a href="sms:body=Thought you might want to check out BiteClub, a curated list of the best places in San Francisco. joinbiteclub.com" class="button-footer">Tell a friend</a>
      <% else %>
        <a href="mailto:?subject=Check%20out%20BiteClub&body=Thought%20you%20might%20want%20to%20check%20out%20BiteClub,%20a%20curated%20list%20of%20the%20best%20places%20in%20San%20Francisco.%20joinbiteclub.com" class="button-footer">Tell a friend</a>
      <% end %>
    </div>
    <div class="half">
      <p class="header">Questions? Comments? Suggestions?</p>
      <a href="mailto:kassatly@gmail.com?subjectBiteClub%20Questions%20Comments%20Suggestions" class="button-footer">Let us know</a>
    </div>
  </div>
</footer>