<div class="nav-header">
  <div class="grid">
    <div class="eighth">
      <div class="icon-back-arrow">
        <a href="javascript:history.back()"><%= inline_svg('back-arrow') %></a>
      </div>
    </div>

    <div class="three-fourths">
      <% if local_assigns[:resource] && resource.respond_to?(:name) %>
        <div class="content">
          <span class="list-name"><%= resource.name %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>