<div class="nav-header">
  <div class="icon-back-arrow">
    <%= link_to :back do %>
      <%= inline_svg('back-arrow') %>
    <% end %>
  </div>

  <% if local_assigns[:resource] && resource.respond_to?(:name) %>
    <div class="content">
      <span class="list-name"><%= resource.name %></span>
    </div>
  <% end %>
</div>