// White
$white-base:  #FFFFFF;
$white-dark:  #D2D2D2;

// Black
$black-base: #1B1B1B;
$black-dark: #000000;
$black-light: #AAAAAA;

// Card
$card-background-base: #3570C0;
$card-background-dark: #215396;