$element-spacing: 10px;

$font-size-hero-heading-main: 5rem;
$font-size-hero-heading-sub: 2rem;
$font-size-button: 1.1rem;
$font-size-nav-header: 1.5rem;
$font-size-landing-cards: 2.7rem;
$font-size-list-cards-main: 2rem;
$font-size-list-cards-sub: 1.5rem;
$font-size-footer-heading: 1.6rem;

$height-nav-header-logo: 30px;
$height-nav-filters-logo: 22px;