.list.show, .cuisine.show, .neighborhood.show {
  .heading {
    .card {
      height: 80px;
      margin: 0 -15px;
      background-color: $black-dark;
      text-align: center;

      .back-arrow {
        position: absolute;
        top: 50%;
        @include transform(translate(0, -50%));
        padding: 0 10px;
        font-size: 3rem;
      }

      .content {
        @include center-content;

        .list-name {
          font-size: 4rem;
          font-weight: bold;
        }
      }
    }
  }

  .list-cards {

    .list-card {
      @include card;

      .list-content {
        position: absolute;
        bottom: 0;
        left: 15px;

        .restaurant-main {
          font-size: 2rem;
          font-weight: bold;
        }

        .restaurant-sub {
          .neighborhood-name {
            font-weight: bold;
          }
        }
      }
    }

    @media screen and (max-width: $mobile-max-width) {
      .list-card {
        .list-content {
          .restaurant-main {
            font-size: 1.5rem;
            margin-bottom: 0;
          }

          .restaurant-sub {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}