.restaurant.show {

  .restaurant-details {
    margin: 0 $element-spacing;
    list-style: none;
    font-size: 1.4rem;
    @include padding-start(0);
    
    li {
      padding-bottom: 10px;
    }

    .restaurant-name {
      font-size: 2.8rem;
    }

    .restaurant-neighborhood {
      float: right;
      font-size: 2rem;
    }

    img {
      height: 22px;
    }
  }

  .restaurant-instagram {
    text-align: center;
    font-size: 2.8rem;
  }

  .restaurant-map {
    @include aspect-ratio(16, 9);
    margin-bottom: $element-spacing;
  }

  @media only screen and (min-width: $break-medium) {
    .restaurant-details {
      margin: 0 0;
      font-size: 1.68rem;

      .restaurant-name {
        font-size: 3.36rem;
      }

      .restaurant-neighborhood {
        font-size: 2.4rem;
      }
      
      img {
        height: 26.4px;
      }
    }

    .restaurant-instagram {
      font-size: 3.36rem;
    }
  }

  .instagram-fullscreen {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black-base;
    opacity: 0;
    pointer-events: none;
    z-index: 2;

    .exit-icon {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;

      svg {
        height: 30px;
        fill: $white-base;
        cursor: pointer;
        @include filter(drop-shadow(5px 5px 5px $black-dark));
      }
    }

    .full {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}