.restaurant.show {

  .restaurant-details {
    list-style: none;
    font-size: 2rem;
    @include padding-start(0);
    
    li {
      padding-bottom: 10px;
    }

    .restaurant-name {
      font-size: 4rem;
    }

    .restaurant-neighborhood {
      float: right;
      font-size: 2.5rem;
    }

    img {
      height: 3rem;
    }
  }

  .restaurant-instagram {
    text-align: center;
    font-size: 2.5rem;
  }

  .restaurant-map {
    @include aspect-ratio(16, 9);
    margin-bottom: $element-margin;
  }

  @media screen and (max-width: $mobile-max-width) {
    .restaurant-details {
      font-size: 1.5rem;

      .restaurant-name {
        font-size: 3rem;
      }

      .restaurant-neighborhood {
        font-size: 1.8rem;
      }

      img {
        height: 2.25rem;
      }
    }

    .restaurant-instagram {
      font-size: 1.8rem;
    }
  }
}