.welcome.landing {
  background-color: $black-base;

  .hero {
    // background: url(landing-cover-image-1.jpg);
    background: url(http://static1.squarespace.com/static/5358f5d0e4b0b733eeba3fb5/t/555d893ce4b0ad7cbc44bcbb/1432193347916/Washington+DC+Food+Photography_+DC+Photographer+Dallas+Lillich_09.jpg?format=2500w);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 480px;
    margin-bottom: 25px;

    .headings {
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 1px 1px 10px $black-dark;

      .main {
        color: $white-base;
        font-size: 11rem;
        font-family: 'Rock Salt', cursive;
      }

      .sub {
        color: $white-base;
        font-size: 3.5rem;
      }
    }
  }

  .filters {
    text-align: center;
    margin-bottom: 25px;

    @media screen and (max-width: $mobile-max-width) {
      margin: 30px auto;
    }
  }

  .cards {
    margin: 0 25px;
    margin-bottom: 25px;

    .card {
      @include card;

      .content {
        @include center-content;
        font-size: 3vw;
        font-family: 'Rock Salt', cursive;

        @media screen and (max-width: $mobile-max-width) {
          font-size: 4vw;
        }
      }
    }
  }
}