.welcome.landing {
  background-color: $black-base;

  .hero {
    position: relative;
    height: 80vh;
    min-height: 480px;
    overflow: hidden;

    .hero-image {
      position: relative;
      left: 50%;
      @include transform(translate3d(-50%, 0, 0));
      min-height: 100%;
      min-width: 100%;
    }

    .hero-heading {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      text-align: center;
      @include text-shadow(3px 3px 15px, $black-dark);

      .main {
        color: $white-base;
        font-family: $font-header;
        font-size: $font-size-hero-heading-main;
      }

      .sub {
        color: $white-base;
        font-size: $font-size-hero-heading-sub;
      }

      @media only screen and (min-width: $break-small) {
        .main {
          font-size: $font-size-hero-heading-main * $scale-s;
        }

        .sub {
          font-size: $font-size-hero-heading-sub * $scale-s;
        }
      }

      @media only screen and (min-width: $break-medium) {
        .main {
          font-size: $font-size-hero-heading-main * $scale-m;
        }

        .sub {
          font-size: $font-size-hero-heading-sub * $scale-m;
        }
      }

      @media only screen and (min-width: $break-large) {
        .main {
          font-size: $font-size-hero-heading-main * $scale-l;
        }

        .sub {
          font-size: $font-size-hero-heading-sub * $scale-l;
        }
      }
    }
  }

  .nav-filters {
    position: relative;
    top: 0;
    left: 50%;
    @include transform(translateX(-50%));

    width: 100%;
    max-width: $break-large;
    padding: $element-spacing 0;
    background-color: $black-base;
    z-index: 1;
    @include transition(padding ease-in-out 0.5s);

    @media only screen and (min-width: $break-small) {
      padding: $element-spacing * $scale-s 0;
    }

    @media only screen and (min-width: $break-medium) {
      padding: $element-spacing * $scale-m 0;
    }

    @media only screen and (min-width: $break-large) {
      padding: $element-spacing * $scale-l 0;
    }

    .filters {
      text-align: center;
    }

    .fb-share-button {
      position: absolute;
      right: $element-spacing;
      top: 50%;
      @include transform(translateY(-50%));
    }      
  }
}