.welcome.landing {
  background-color: $black-base;

  .hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 480px;
    margin-bottom: 25px;

    .headings {
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include text-shadow(1px 1px 10px, $black-dark);

      .main {
        color: $white-base;
        font-size: 11rem;
        font-family: 'Rock Salt', cursive;
      }

      .sub {
        color: $white-base;
        font-size: 3.5rem;
      }
    }
  }

  .filters {
    text-align: center;
    margin-bottom: 25px;

    @media screen and (max-width: $mobile-max-width) {
      margin: 30px auto;
    }
  }
}