@mixin columns($col) {
  width: percentage($col);
  float: left;
  position: relative;
  min-height: 1px;
}

.grid {
  @include clearfix;

  .eighth {
    @extend .eighth-xs;
    @extend .eighth-s;
    @extend .eighth-m;
    @extend .eighth-l;
  }
  .sixth {
    @extend .sixth-xs;
    @extend .sixth-s;
    @extend .sixth-m;
    @extend .sixth-l;
  }
  .fourth {
    @extend .fourth-xs;
    @extend .fourth-s;
    @extend .fourth-m;
    @extend .fourth-l;
  }
  .third {
    @extend .third-xs;
    @extend .third-s;
    @extend .third-m;
    @extend .third-l;
  }
  .half {
    @extend .half-xs;
    @extend .half-s;
    @extend .half-m;
    @extend .half-l;
  }
  .two-thirds {
    @extend .two-thirds-xs;
    @extend .two-thirds-s;
    @extend .two-thirds-m;
    @extend .two-thirds-l;
  }
  .three-fourths {
    @extend .three-fourths-xs;
    @extend .three-fourths-s;
    @extend .three-fourths-m;
    @extend .three-fourths-l;
  }
  .full {
    @extend .full-xs;
    @extend .full-s;
    @extend .full-m;
    @extend .full-l;
  }

  // X-Small Screens
  @media only screen {
    .eighth-xs {
      @include columns(1/8);
    }
    .sixth-xs {
      @include columns(1/6);
    }
    .fourth-xs {
      @include columns(1/4);
    }
    .third-xs {
      @include columns(1/3);
    }
    .half-xs {
      @include columns(1/2);
    }
    .two-thirds-xs {
      @include columns(2/3);
    }
    .three-fourths-xs {
      @include columns(3/4);
    }
    .full-xs {
      @include columns(1/1);
    }
    
    .offset-eighth-xs {
      margin-left: percentage(1/8);
    }
    .offset-sixth-xs {
      margin-left: percentage(1/6);
    }
    .offset-fourth-xs {
      margin-left: percentage(1/4);
    }
    .offset-third-xs {
      margin-left: percentage(1/3);
    }
    .offset-half-xs {
      margin-left: percentage(1/2);
    }
    .offset-two-thirds-xs {
      margin-left: percentage(2/3);
    }
    .offset-three-fourths-xs {
      margin-left: percentage(3/4);
    }
  }

  // Small Screens
  @media only screen and (min-width: $break-small) {
    .eighth-s {
      @include columns(1/8);
    }
    .sixth-s {
      @include columns(1/6);
    }
    .fourth-s {
      @include columns(1/4);
    }
    .third-s {
      @include columns(1/3);
    }
    .half-s {
      @include columns(1/2);
    }
    .two-thirds-s {
      @include columns(2/3);
    }
    .three-fourths-s {
      @include columns(3/4);
    }
    .full-s {
      @include columns(1/1);
    }
    
    .offset-eighth-s {
      margin-left: percentage(1/8);
    }
    .offset-sixth-s {
      margin-left: percentage(1/6);
    }
    .offset-fourth-s {
      margin-left: percentage(1/4);
    }
    .offset-third-s {
      margin-left: percentage(1/3);
    }
    .offset-half-s {
      margin-left: percentage(1/2);
    }
    .offset-two-thirds-s {
      margin-left: percentage(2/3);
    }
    .offset-three-fourths-s {
      margin-left: percentage(3/4);
    }
  }

  // Medium Screens
  @media only screen and (min-width: $break-medium) {
    .eighth-m {
      @include columns(1/8);
    }
    .sixth-m {
      @include columns(1/6);
    }
    .fourth-m {
      @include columns(1/4);
    }
    .third-m {
      @include columns(1/3);
    }
    .half-m {
      @include columns(1/2);
    }
    .two-thirds-m {
      @include columns(2/3);
    }
    .three-fourths-m {
      @include columns(3/4);
    }
    .full-m {
      @include columns(1/1);
    }
  
    .offset-eighth-m {
      margin-left: percentage(1/8);
    }
    .offset-sixth-m {
      margin-left: percentage(1/6);
    }
    .offset-fourth-m {
      margin-left: percentage(1/4);
    }
    .offset-third-m {
      margin-left: percentage(1/3);
    }
    .offset-half-m {
      margin-left: percentage(1/2);
    }
    .offset-two-thirds-m {
      margin-left: percentage(2/3);
    }
    .offset-three-fourths-m {
      margin-left: percentage(3/4);
    }
  }

  // Large Screens
  @media only screen and (min-width: $break-large) {
    .eighth-l {
      @include columns(1/8);
    }
    .sixth-l {
      @include columns(1/6);
    }
    .fourth-l {
      @include columns(1/4);
    }
    .third-l {
      @include columns(1/3);
    }
    .half-l {
      @include columns(1/2);
    }
    .two-thirds-l {
      @include columns(2/3);
    }
    .three-fourths-l {
      @include columns(3/4);
    }
    .full-l {
      @include columns(1/1);
    }
    
    .offset-eighth-l {
      margin-left: percentage(1/8);
    }
    .offset-sixth-l {
      margin-left: percentage(1/6);
    }
    .offset-fourth-l {
      margin-left: percentage(1/4);
    }
    .offset-third-l {
      margin-left: percentage(1/3);
    }
    .offset-half-l {
      margin-left: percentage(1/2);
    }
    .offset-two-thirds-l {
      margin-left: percentage(2/3);
    }
    .offset-three-fourths-l {
      margin-left: percentage(3/4);
    }
  }
}

