* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: $black-base;
  line-height: 1.428571429;
  
  .wrapper {
    position: relative;
    min-height: 100vh;
  }
}