@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body, a {
  color: $white-base;
  font-family: 'Lato';
}

@mixin header-base {
  font-weight: 500;
}

h1, h2, h3 {
  @include header-base;

  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 65%;
}

h4, h5, h6 {
  @include header-base;

  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 75%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 5px 0;
}

ul {
  @include padding-start(0);
}