<section class="container-fluid">
  <div class="hero">
    <div class="headings">
      <h1 class="main">Bite Club</h1>
      <h3 class="sub">Discover the best restaurants in San Francisco</h3>      
    </div>
  </div>

  <div class="themes text-center">
    <div class="row filters">
      <div class="col-md-12">
        <%= button_tag "All", class: 'button-filter active', data: { filter: 'all' } %>
        <%= button_tag "Theme", class: 'button-filter', data: { filter: 'theme' } %>
        <%= button_tag "Cuisine", class: 'button-filter', data: { filter: 'cuisine' } %>
        <%= button_tag "Neighborhood", class: 'button-filter', data: { filter: 'neighborhood' } %>
      </div>
    </div>

    <div class="row cards">
      <!-- TODO: Need to add pagination for lists -->
    </div>
  </div>
</section>