<section ng-controller="LandingController">
  <div class="hero">
    <div class="headings">
      <h1 class="main">Bite Club</h1>
      <h3 class="sub">Discover the best restaurants in San Francisco</h3>      
    </div>
  </div>

  <div class="themes text-center">
    <div class="row filters">
      <div class="col-md-12">
        <button type="button" class="button-filter" data-filter="all" ng-click="onFilterClick($event)" ng-class="{active: activeFilter == 'all'}">All</button>
        <button type="button" class="button-filter" data-filter="theme" ng-click="onFilterClick($event)" ng-class="{active: activeFilter == 'theme'}">Theme</button>
        <button type="button" class="button-filter" data-filter="cuisine" ng-click="onFilterClick($event)" ng-class="{active: activeFilter == 'cuisine'}">Cuisine</button>
        <button type="button" class="button-filter" data-filter="neighborhood" ng-click="onFilterClick($event)" ng-class="{active: activeFilter == 'neighborhood'}">Neighborhood</button>
      </div>
    </div>

    <div class="row cards">
      <!-- TODO: Need to add pagination for lists -->
      <div class="col-xs-6 col-md-4" ng-repeat="list in lists">
        <a ng-href="{{list.type}}/{{list.id}}">
          <div class="card">
            <div class="content">
              <span>{{list.name}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>