@mixin button {
  display: inline-block;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);
  @include transition(color ease-in-out 0.25s);
  @include transition(background-color ease-in-out 0.25s);

  margin: 0 10px;
  padding: 6px 20px;
  font-size: 1.8rem;
  border: 1px solid $white-dark;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: $mobile-max-width) {
    margin: 0 4px;
    padding: 6px 12px;
    font-size: 1.4rem;
  }
}

.button-filter {
  @include button;

  color: $white-dark;
  background-color: $black-base;

  &.active {
    color: $black-base;
    background-color: $white-dark;
  }
}

.button-footer{
  @include button;

  color: $black-base;
  background-color: $white-dark;
}