@mixin button {
  display: inline-block;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);
  @include transition(color ease-in-out 0.25s);
  @include transition(background-color ease-in-out 0.25s);

  margin: 0 4px;
  padding: 6px 10px;
  font-size: $font-size-button;
  border: 1px solid $white-dark;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  @media only screen and (min-width: $break-small) {
    font-size: $font-size-button * $scale-s;
  }

  @media only screen and (min-width: $break-medium) {
    font-size: $font-size-button * $scale-s;
  }

  @media only screen and (min-width: $break-large) {
    font-size: $font-size-button * $scale-m;
  }
}

.button-filter {
  @include button;

  color: $white-dark;
  background-color: $black-base;

  &.active {
    color: $black-base;
    background-color: $white-dark;
  }
}

.button-footer{
  @include button;

  color: $black-base;
  background-color: $white-dark;
}