@mixin card {
  @include aspect-ratio(4, 3);
  text-shadow: 1px 1px 10px $black-dark;
  background-color: $black-dark;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cards {
  margin: 0 25px;
  margin-bottom: 25px;

  .card {
    @include card;

    .content {
      @include center-content;
      text-align: center;
      font-size: 3vw;
      font-family: 'Rock Salt', cursive;

      @media screen and (max-width: $mobile-max-width) {
        font-size: 4vw;
      }
    }
  }
}

.list-cards {
  margin: 0 25px;
  margin-bottom: 25px;

  .list-card {
    @include card;

    .list-content {
      position: absolute;
      bottom: 0;
      padding: 0 15px;

      .restaurant-main {
        font-size: 3vw;
        font-weight: bold;
      }

      .restaurant-sub {
        font-size: 1.8vw;

        .neighborhood-name {
          font-weight: bold;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-max-width) {
    .list-card {
      .list-content {
        .restaurant-main {
          font-size: 4vw;
          margin-bottom: 0;
        }

        .restaurant-sub {
          font-size: 2.4vw;
        }
      }
    }
  }
}