@mixin card {
  padding: 0 $element-spacing;
  padding-bottom: $element-spacing;
  margin: 0 auto;
  max-width: $break-large;

  .card {
    @include aspect-ratio(1, 1);
    
    background-color: $black-dark;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include transition(opacity ease-in-out 0.25s);
  }

  .content {
    @include text-shadow(1px 1px 10px, $black-dark);
    pointer-events: none;
  }
}

// Permits mouse hover events only if body has 'notouch' class
body.notouch {
  .card {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.landing-cards {
  @include card;

  .content {
    @include center-content;
    text-align: center;
    font-size: $font-size-landing-cards;
    font-weight: bold;
  }
}

.list-cards {
  @include card;

  .content {
    position: absolute;
    bottom: 0;
    padding: 0 15px;

    .restaurant-main {
      font-size: $font-size-list-cards-main;
      font-weight: bold;
    }

    .restaurant-sub {
      font-size: $font-size-list-cards-sub;

      .neighborhood-name {
        font-weight: bold;
      }
    }
  }
}