@mixin card {
  @include aspect-ratio(4, 3);
  margin: 10px 0;
  color: $white-base;
  text-shadow: 1px 1px 10px $black-dark;
  background-color: $black-dark;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cards {

  .card {
    @include card;

    .content {
      @include center-content;
      font-size: 3rem;

      @media screen and (max-width: $mobile-max-width) {
        font-size: 2rem;
      }
    }
  }

}