.carousel-main {
  margin-bottom: $element-spacing;
  
  .carousel-image {
    @include aspect-ratio(16, 9);
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@mixin instagram-fullscreen {
  margin: 0;
}

.carousel-instagram {
  @extend .carousel-main;

  .group {
    @include clearfix;

    .carousel-image {
      @include aspect-ratio(1, 1);
      display: inline-block;
      width: calc(#{percentage(1/3)} - (2/3 * 10px));
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
      cursor: pointer;

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}

.carousel-instagram-fullscreen {
  @extend .carousel-main;

  .carousel-image {
    @include aspect-ratio(1, 1);
    width: 90vh;

    @media only screen and (orientation: portrait) {
      width: 90vw;
    }
  }
}