$footer-height-xs: 78px;
$footer-offset-height-xs: 46px;

$footer-height-m: 85px;
$footer-offset-height-m: 51px;

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: $footer-height-xs;
  text-align: center;
  background-color: $black-dark;
  z-index: 1;
  @include transition(height ease-in-out 0.5s);

  .heading {
    font-size: $font-size-footer-heading;
    white-space: nowrap;
    margin: 6px 0;
  }

  .sub-heading {
    font-size: $font-size-footer-sub-heading;
  }

  @media only screen and (min-width: $break-medium) {
    .heading {
      font-size: $font-size-footer-heading * $scale-s;
    }

    .sub-heading {
      font-size: $font-size-footer-sub-heading * $scale-s;
    }
  }

  .fb-like {
    overflow: hidden;
  }
}

// Reserves bottom space of body for fixed full height of footer.
body {
  .wrapper {
    padding-bottom: $footer-height-xs;
  }

  @media only screen and (min-width: $break-medium) {
    .wrapper {
      padding-bottom: $footer-height-m;
    }
  }
}

// Reserves bottom space of body for docked height of footer.
body.notouch {
  footer {
    height: $footer-height-xs - $footer-offset-height-xs;

    &:hover {
      height: $footer-height-xs;
    }
  }

  .wrapper {
    padding-bottom: $footer-height-xs - $footer-offset-height-xs;
  }

  @media only screen and (min-width: $break-medium) {
    footer {
      height: $footer-height-m - $footer-offset-height-m;

      &:hover {
        height: $footer-height-m;
      }
    }

    .wrapper {
      padding-bottom: $footer-height-m - $footer-offset-height-m;
    }
  }
}