$footer-height: 120px;
$footer-offset-height: 70px;

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: $footer-height;
  text-align: center;
  background-color: $black-dark;
  @include transition(height ease-in-out 0.5s);

  .header {
    font-size: 2rem;
    margin: 11px 0;
  }
}

body {
  .wrapper {
    padding-bottom: $footer-height;
  }
}

body.notouch {
  footer {
    height: $footer-height - $footer-offset-height;

    &:hover {
      height: $footer-height;
    }
  }

  .wrapper {
    padding-bottom: $footer-height - $footer-offset-height;
  }
}