$footer-height: 50px;

body {
  margin-bottom: $footer-height;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background-color: $black-dark;
  opacity: 0;
  z-index: 2;
  @include transition(opacity ease-in-out 0.5s);

  .content {
    @include center-content;
  }
}