.nav-header {
  .logo {
    padding: $element-spacing;

    svg {
      height: $height-nav-header-logo;
      fill: $white-base;

      @media only screen and (min-width: $break-small) {
        height: $height-nav-header-logo * $scale-s;
      }

      @media only screen and (min-width: $break-medium) {
        height: $height-nav-header-logo * $scale-m;
      }

      @media only screen and (min-width: $break-large) {
        height: $height-nav-header-logo * $scale-l;
      }
    }
  }
}

.nav-filters {
  .logo {
    position: absolute;
    left: $element-spacing;
    top: 50%;
    @include transform(translateY(-50%));
    opacity: 0;
    @include transition(opacity ease-in-out 0.5s);

    svg {
      height: $height-nav-filters-logo;
      fill: $white-base;

      @media only screen and (min-width: $break-small) {
        height: $height-nav-filters-logo * $scale-s;
      }

      @media only screen and (min-width: $break-medium) {
        height: $height-nav-filters-logo * $scale-s;
      }

      @media only screen and (min-width: $break-large) {
        height: $height-nav-filters-logo * $scale-m;
      }
    }
  }
}