// $nav-header-height: 80px;

.nav-header {
  // position: relative;
  // height: $nav-header-height;
  background-color: $black-dark;
  margin-bottom: $element-margin;
  font-size: 3rem;

  .icon-back-arrow {
    position: relative;
    top: 17px;
    // top: 50%;
    // @include transform(translateY(-45%));
    padding: 0 10px;
  }

  .content {
    text-align: center;
    font-family: $rock-salt;
    font-weight: bold;
    margin: 15px 0;
  }

  @media screen and (max-width: $mobile-max-width) {
    font-size: 2.25rem;
  }

}