.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: $element-spacing;
  background-color: $black-base;
  font-size: $font-size-nav-header;
  @include transition(top ease-in-out 0.5s);

  .content {
    text-align: center;
    font-family: $font-header;
    font-weight: bold;
    margin: 15px 0;
  }

  .fb-share {
    position: absolute;
    right: $element-spacing;
    top: calc(50% - 5px);
    @include transform(translateY(-50%));
  }

  @media only screen and (min-width: $break-small) {
    font-size: $font-size-nav-header * $scale-s;
  }

  @media only screen and (min-width: $break-medium) {
    font-size: $font-size-nav-header * $scale-m;
  }

  @media only screen and (min-width: $break-large) {
    font-size: $font-size-nav-header * $scale-l;
  }
}