@mixin background-size($size) {
  -webkit-background-size:  $size;
  -moz-background-size:     $size;
  -o-background-size:       $size;
  background-size:          $size;
}

@mixin text-shadow($dim: 0 0 0, $color: $black-base) {
  -webkit-text-shadow:  $dim $color;
  -moz-text-shadow:     $dim $color;
  -o-text-shadow:       $dim $color;
  text-shadow:          $dim $color;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{expression});
  #{$property}: calc(#{expression});
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    @include center-content;
  }
}

@mixin center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}